.result-card-item {
  background-color: #f3f1fa;
  border: 1px solid #cbd6dc;
  border-radius: 12px;
}

.result-img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
}

img {
  background-image: url(../../assets/img/Barcelona.jpg);
}

.result-img {
  background: url("../../assets/img/senor.jpg") center / cover no-repeat;
}

.result-card-item {
  background-color: #f3f3fa;
}

img {
  border-radius: 20px;
  width: 180px;
}

.btn.btn-primary {
  border-radius: 10px;
}

.horizontal-separator {
  border: 2px solid rgba(124,152,167,.2);
  margin-bottom: 2rem;
}

h1 {
  font-family: Merriweather;
  color: grey;
  font-weight: bold;
}

.espacio {
  margin-bottom: 15px;
}

.btn.btn-primary {
  margin-left: 430px;
}

.result-card-item-filter {
  margin: 0 30px;
}

.result-item-title {
  margin: 20px;
}

div {
  box-sizing: border-box;
}

.btn.btn-primary.pull-right {
  width: 100px;
}

.iconos {
  margin: 0 50px;
}

.eliminar {
  margin: 0 50px;
}

.perfil-photo {
  margin-right: auto;
}

h1 {
}

h2 {
  color: black;
  /*color: grey;*/
  font-weight: bold;
  font-family: Merriweather;
}

div {
}

p {
  font-family: Merriweather;
  color: grey;
  font-weight: bold;
}

.perfil {
  border-radius: 100px;
}

.close {
  padding: 50px;
  color: #200098;
}

.cerrar {
}

